<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangjiahai.ebookdownload.mapper.DownloadHistoryMapper">
    <resultMap id="downloadMap" type="com.yangjiahai.ebookdownload.entity.DownloadHistory">
        <id column="id" property="id"/>
        <result column="bookid" property="bookid"/>
        <result column="userid" property="userid"/>
        <result column="gmt_creat" property="gmtCreat"/>
        <result column="gmt_modified" property="gmtModified"/>
        <collection property="children" ofType="com.yangjiahai.ebookdownload.entity.Book">
            <id column="cid" property="id"/>
            <result column="img_url" property="imgUrl"/>
            <result column="book_name" property="bookName"/>
            <result column="book_intrduction" property="bookIntrduction"/>
        </collection>
    </resultMap>
    <select id="selectDownloadCollection"  resultMap="downloadMap">
        SELECT t1.id,
               t1.bookid,
               t1.userid,
               t1.gmt_creat,
               t1.gmt_modified,
               t2.id cid,
               t2.img_url,
               t2.book_name,
               t2.book_intrduction
        FROM wx_download_history t1
                 JOIN wx_book t2 ON t1.bookid = t2.id
            ${ew.customSqlSegment}
        ORDER BY t1.gmt_creat desc
    </select>
</mapper>
